<form action="" class="form_container" method="post">
            <h2 class="form_title">Agregar un nuevo animal</h2>

            <div class="form_section">
                <div>
                    <select name="" id="" class="form-control" [value]="origen" (change)="onOrigenChange($event)">
                        <option value="bought">Comprado a granja externa</option>
                        <option value="born">Nacido dentro de la granja</option>
                    </select>
                </div>
            </div>

            <div *ngIf="origen === 'born'" class="form_section" id="born">
    
                <input
                    id="codigo"
                    name="codigo"
                    type="text"
                    inputmode="numeric"
                    maxlength="10"
                    placeholder="Código parto"
                    list="codigos"
                    [(ngModel)]="codigoSeleccionado"
                    (keypress)="allowOnlyNumbers($event)"
                    (paste)="validatePaste($event)"
                    class="form-control mt-1"
                    style="max-width: 100px;"
                />

                <datalist id="codigos">
                    <option *ngFor="let c of codigos" [value]="c"></option>
                </datalist>

                <input 
                    type="text" 
                    placeholder="Padre" 
                    class="form-control mt-1"
                    style="max-width: 110px;"
                >

                <input 
                    type="text" 
                    placeholder="Madre" 
                    class="form-control mt-1"
                    style="max-width: 110px;"
                >
            </div>

            <div *ngIf="origen === 'bought'" class="form_section" id="bought">
    
                <input
                    id="codigo"
                    name="codigo"
                    type="text"
                    inputmode="numeric"
                    maxlength="10"
                    placeholder="Proveedor"
                    list="codigos"
                    [(ngModel)]="codigoSeleccionado"
                    (keypress)="allowOnlyNumbers($event)"
                    (paste)="validatePaste($event)"
                    class="form-control mt-1"
                    style="max-width: 100px;"
                />

                <datalist id="codigos">
                    <option *ngFor="let c of codigos" [value]="c"></option>
                </datalist>

            </div>

            <div class="form_section">
                <select name="gender" id="" class="form-control mt-1">
                    <option value="1">Macho</option>
                    <option value="2">Hembra</option>
                </select>

                <input 
                    type="date" 
                    placeholder="Fecha de nacimiento" 
                    class="form-control mt-1"
                >

                <input
                    type="text"
                    inputmode="decimal"
                    placeholder="Peso"
                    [formControl]="pesoControl"
                    (keypress)="allowOnlyNumbersMaxMinAndTwoDecimals($event, pesoControl.value || '', 1, 1900)"
                    class="form-control mt-1"
                    maxlength="7"
                    style="width: 100px;"
                />

                <div *ngIf="pesoControl.hasError('min')">
                El peso mínimo es 1 lb.
                </div>
                <div *ngIf="pesoControl.hasError('max')">
                El peso máximo es 1900 lbs.
                </div>

                <input 
                    type="date" 
                    placeholder="Fecha de registro" 
                    class="form-control mt-1"
                >            

            </div>

            <button type="submit" class="sqr_rds mt-1" style="display: flex; margin: 0; padding: 0; background-color: transparent; border: 0px transparent;" ><img src="/assets/icons/save_disk.png" alt="" class="sqr_rds" style="width: 5rem; height: 5rem;"></button>
        
</form>