<div class="container">
        <section class="table__container">
            <div class="table__top">
                <div><span class="table__title">Alimento Disponible</span></div>
                <div class="searchbar"><!-- Inicio seccion buscar -->
                    <select class="form-control searchSelect" [(ngModel)]="searchField">
                        <option value="id">ID</option>
                        <option value="destination">Proposito</option>
                    </select>

                    <input
                        type="text"
                        placeholder="Buscar"
                        class="form-control searchInput"
                        [(ngModel)]="searchValue"
                        (ngModelChange)="onSearch(searchField, searchValue)"
                    />

                    <button
                        type="button"
                        class="btn btn__primary__outline"
                        (click)="onSearch(searchField, searchValue)"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>

                <div>
                    <button routerLink="/livestock/feed-add" class="btn btn__primary__outline">Agregar</button>
                </div>
            </div>

            <table>
                <thead>
                    <tr >
                        <th><!--inicio columna ID-->
                            <span class="center_x_y">
                            ID 
                            <label class="center_x_y">
                                <input type="checkbox" hidden (click)="orderBy('id')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                                </svg>
                            </label>
                            </span>  
                        </th>
                        
                        <th><!--inicio columna -->
                            <span class="center_x_y">
                            Nombre
                            <label class="center_x_y">
                                <input type="checkbox" hidden >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                                </svg>
                            </label>
                            </span>  
                        </th>

                        <th><!--inicio columna -->  
                            <span class="center_x_y">
                            Existencia
                            <label class="center_x_y">
                                <input type="checkbox" hidden>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                                </svg>
                            </label>
                            </span>  
                        </th>

                        <th><!--inicio columna -->  
                            <span class="center_x_y">
                            Proposito
                            <label class="center_x_y">
                                <input type="checkbox" hidden (click)="orderBy('destination')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                                </svg>
                            </label>
                            </span>  
                        </th>

                        <th><!--inicio columna -->
                            <span class="center_x_y">
                            Vencimiento
                            <label class="center_x_y">
                                <input type="checkbox" hidden (click)="orderBy('expiration')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                                </svg>
                            </label>
                            </span>  
                        </th>

                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let object of data">
                        <td>{{ object.id }}</td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.unitn * object.amount }} {{ object.unitt }}</td>
                        <td>{{ object.destination }}</td>
                        <td>{{ object.expiration }}</td>
                        <td>
                            <button [routerLink]="['/livestock/litter-edit', object.id]" class="btn btn__primary__outline">Editar</button>
                            <samp></samp>
                            <button [routerLink]="['/livestock/litter-view', object.id]" class="btn btn__primary__outline">Detalles</button>
                        </td>        
                    </tr>
                </tbody>
            </table>

            <div class="table__pagination"> 
                <button class="btn btn__primary__outline" style="margin-right: 2px;">previous</button> <span>1</span> de <span>1</span> <button class="btn btn__primary__outline" style="margin-left: 2px;">next</button>
            </div>  

        </section><!-- table__container -->
</div>