<div class="table__container">
    <div class="table__top">

      <div><span class="table__title">Listado de Animales</span></div>

      <div class="searchbar"><!-- Inicio seccion buscar -->
        <select [(ngModel)]="searchField" class="form-control searchSelect btn__primary__outline">
          <option value="id">ID</option>
          <option value="sexo">Sexo</option>
          <option value="status">Estado</option>
        </select>

        <input
          type="text"
          placeholder="Buscar"
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
          class="form-control searchInput btn__primary__outline"
        />

        <button type="button" (click)="onSearch()" class="btn btn__primary__outline">
          🔍
        </button>
      </div>
      <div>
        <button routerLink="/livestock/animal-add" class="btn btn__primary__outline">Agregar</button>
      </div>
    </div>
    <table>
      <thead>
        <tr >
          <th><!--inicio columna ID-->
            <span class="center_x_y">
              ID 
              <label class="center_x_y">
                <input type="checkbox" hidden (click)="sortBy('id')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </label>
            </span>  
          </th>
          
          <th><!--inicio columna Sexo-->  
            <span class="center_x_y">
              Sexo
              <label class="center_x_y">
                <input type="checkbox" hidden (click)="sortBy('sexo')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </label>
            </span>  
          </th>

          <th><!--inicio columna Edad-->
            <span class="center_x_y">
              Edad
              <label class="center_x_y">
                <input type="checkbox" hidden (click)="sortBy('birthDate')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </label>
            </span>  
          </th>

          <th><!--inicio columna Estado-->
            <span class="center_x_y">
              Estado
              <label class="center_x_y">
                <input type="checkbox" hidden (click)="sortBy('status')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" class="icon">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
              </label>
            </span>  
          </th>

          <th>Acciones</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let animal of filteredAnimals">
          <td>{{ animal.id }}</td>
          <td>{{ animal.sexo }}</td>
          <td>{{ getAgeInDays(animal.birthDate) }} dias</td>
          <td>{{ animal.status }}</td>
          <td>
            <button [routerLink]="['/livestock/edit', animal.id]" class="btn btn__primary__outline">Editar</button>
            <samp></samp>
            <button [routerLink]="['/livestock/edit', animal.id]" class="btn btn__primary__outline">Detalles</button>
          </td>        
        </tr>
      </tbody>
    </table>
    <div class="table__pagination"> 
      <button class="btn btn__primary__outline" style="margin-right: 2px;">previous</button> <span>1</span> de <span>1</span> <button class="btn btn__primary__outline" style="margin-left: 2px;">next</button>
    </div>  
</div>