<form action="" class="form_container" method="post">
            <h2 class="form_title">Registrar Alimento</h2>

            <div class="form_section">
                <input type="text" placeholder="Tipo" class="form-control mt-1">
                <input type="text" placeholder="Cantidad Unitaria" class="form-control mt-1">
                <input type="text" placeholder="Unidad de Medida" class="form-control mt-1">
                <input type="text" placeholder="Cantidad" class="form-control mt-1">
                <input type="text" placeholder="Marca" class="form-control mt-1">
                <input type="text" placeholder="Vencimiento" class="form-control mt-1">
                <input type="text" placeholder="Nombre" class="form-control mt-1">
                <input type="text" placeholder="Descripcion" class="form-control mt-1">
                <input type="text" placeholder="Uso principal" class="form-control mt-1">
                <input type="text" placeholder="Lote" class="form-control mt-1">
                <input type="text" placeholder="Precio" class="form-control mt-1">
                <textarea name="" id="" placeholder="Notas" class="form-control mt-1"></textarea>
            </div>

            <button type="submit" class="sqr_rds mt-1" style="display: flex; margin: 0; padding: 0; background-color: transparent; border: 0px transparent;" ><img src="/assets/icons/save_disk.png" alt="" class="sqr_rds" style="width: 5rem; height: 5rem;"></button>
        
</form>